body{
    background-color: beige;
}

h1{
    background-color: #ac8b14;
    border-radius: 100x 20x;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80px;
    color: rgb(38, 37, 8);
    margin-bottom: 0;
    
}
.subtitulo{
text-align: center;
font-size: 30px;
font-style: italic;
margin: auto;
}
.contatos{
    font-size: 30px;
    margin: auto;
    font-style: italic;
}
.Temperaturas{
    color:rgb(100, 85, 3);
    font-size: 50px;
    margin: auto;
}
#celsius {
  width: 300px;      
  height: 50px;    
  font-size: 35px;   
  padding: 5px 10px; 
  margin:auto;
  text-align: center;

}
#fahrenheit{
    width: 300px;      
  height: 50px;    
  font-size: 35px;   
  padding: 5px 10px; 
  margin:auto;
  text-align: center;
}
#kelvin{
    width: 300px;      
  height: 50px;    
  font-size: 35px;   
  padding: 5px 10px; 
  margin:auto; 
  text-align: center;
}
.butao{
    margin-top: 20px;
   width: 250px;
    height: 35px;
    font-size: 20px;
    padding: 5px 10px; 
    background-color: rgb(211, 201, 10);
    cursor: pointer;
}   

#celsius:focus, #fahrenheit:focus, #kelvin:focus {
  border-color: #2763da; 
  outline: none;               
  box-shadow: 0 0 5px #0fb1a6;  
  background-color: #ffffff;   
  cursor: text;
}

